<launch> 

  <!-- Optional argument for simulation -->
  <arg name="sim" default="false"/>

  <!-- Only launch the gazebo simulation if sim argument is true -->
  <include file="$(find robo1)/launch/empty_world.launch" if="$(arg sim)">
      <!--arg name="world_name" value="$(find robo1)/worlds/maze.world"/-->
  </include>


  <!-- Common nodes for both simulation and non-simulation -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robo1)/urdf/integration.urdf.xacro" />
  <param name="my_robot" value="carRobot2"/> 
  <arg name="init_pose" value="-x 0.13 -y 0.09 -z 0 -R 0 -P 0 -Y 0"/>
  <rosparam file="$(find robo1)/config/joint_names_robo1.yaml" command="load"/>


  <!-- Nodes for simulation only -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg sim)">
      <param name="use_gui" value="True"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="map_to_base" args="0 0 0 0 0 0 1 /map /dummy_base_link 10" if="$(arg sim)" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robo1" 
  args="joint_state_controller driveR_controller driveL_controller" if="$(arg sim)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
  respawn="false" output="screen" if="$(arg sim)"/>

  <node name="driver_gazebo" pkg="robo1" type="driver_gazebo.py" if="$(arg sim)" />



  <!-- Our main nodes -->
	<node name="CurrentVelListener" pkg="rosserial_terpbot" type="CurrentVelListener.py" />
  <node name="coordPub" pkg="robo1" type="coordPub.py" />
  <node name="odom_generator_ticks" pkg="robo1" type="odom_generator_ticks.py" />
  <node name="execute_bot_ticks" pkg="robo1" type="execute_bot_ticks.py" />
  

  <!-- Spawn robot only in simulation -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -param robot_description -urdf -model my_robot" 
  output="screen" if="$(arg sim)"/>


  <!-- Publish calibration topic only in simulation -->
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" if="$(arg sim)" />

</launch>
